<navbar></navbar>

<md-content flex-offset="5" flex="90" >
  <div flex-sm="100" flex-xs="100" layout="row">
    <div flex="5" >
      <md-button class="md-fab md-mini md-primary" aria-label="Go Back" ng-click="goBack()">
        <i class="fa fa-arrow-left"></i>
      </md-button>
    </div>

    <div flex>
      <md-list-item >
        <img ng-src="{{syllabus.iconurl}}" alt="MEAN" style="width:40px; height: auto; margin-right:10px;"> <h4> {{ syllabus.title }}, {{ syllabus.academy }}, {{ syllabus.lecturer }}</h4>
      </md-list-item>
    </div>
  </div>
</md-content>

<md-content flex-offset="10" flex="80">
  <hr>
  <div flex-sm="100" flex-xs="100" layout="column">
    <md-card>
      <md-card-content layout="row" layout-wrap>
        <div flex="15" flex-sm="100" flex-xs="100">
          <div ng-if="isAdmin()" style="text-align: center;">
            <md-button style="font-size:60px;" aria-label="Edit presentation" ng-click="edit()" class="md-raised">
              <i class="fa fa-calendar" ng-style="{true: {color: 'blue'}, false: {}}[editPage]"></i>
            </md-button>
          </div>
          <div ng-if="!isAdmin()" style="text-align: center;">
            <div style="font-size:60px;">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
          <h3 style="text-align: center; margin-top:5px;">
            Week {{weekplan.week}}
          </h3>
          <div ng-if="isAdmin()" ng-show="!editPage"  style="text-align: center;">
            <md-button style="font-size:20px;" aria-label="Edit presentation" ng-click="edit()" class="md-icon-button">
              <i class="fa fa-pencil"></i>
            </md-button>
          </div>
          <div ng-if="isAdmin()" ng-show="editPage"  style="text-align: center;">
            <md-button style="font-size:20px;" aria-label="Undo edit" ng-click="undo()" class="md-icon-button">
              <i class="fa fa-undo"></i>
            </md-button>
            <md-button style="font-size:20px;" aria-label="Save edit" ng-click="save()" class="md-icon-button md-primary">
              <i class="fa fa-floppy-o"></i>
            </md-button>
          </div>
          <div ng-show="editPage"  style="text-align: center;color:red;">
            <h4>Edit mode active</h4>
          </div>
        </div>
        <div flex flex-sm="100" flex-xs="100">
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab>
              <md-tab-label>
                <i class="fa fa-book"></i> Topics
              </md-tab-label>
              <md-tab-body>
                <div ng-if="!editPage" style="margin-top:20px;" class="bordered-box">
                  <small ng-show="!weekplan.topics">No presentation this week</small>
                  <div ng-bind-html="toTrusted(weekplan.topics)"></div>
                </div>
                <div ng-if="editPage">
                  <div summernote style="padding:2px; border:2px dashed #e4e5e7;" config="options" contentEditable=true data-ph="Insert topics etc.." ng-model="$parent.editTopics"></div>
                </div>
              </md-tab-body>
            </md-tab>
            <md-tab>
              <md-tab-label>
                <i class="fa fa-book"></i> Videos
              </md-tab-label>
              <md-tab-body>
                <div ng-if="!editPage" style="margin-top:20px;" class="bordered-box">
                  <small ng-show="!weekplan.videos">No videos this week</small>
                  <div ng-bind-html="toTrusted(weekplan.videos)"></div>
                </div>
                <div ng-if="editPage">
                  <div summernote style="padding:2px; border:2px dashed #e4e5e7;" config="options" contentEditable=true data-ph="Insert video information etc.." ng-model="$parent.editVideos"></div>
                </div>
              </md-tab-body>
            </md-tab>
            <md-tab>
              <md-tab-label>
                <i class="fa fa-bookmark"></i> Literature
              </md-tab-label>
              <md-tab-body>
                <div ng-if="!editPage" style="margin-top:20px;" class="bordered-box">
                  <small ng-show="!weekplan.literature">No presentation this week</small>
                  <div ng-bind-html="toTrusted(weekplan.literature)"></div>
                </div>
                <div ng-if="editPage">
                  <div summernote style="padding:2px; border:2px dashed #e4e5e7;" config="options" contentEditable=true data-ph="Insert video information etc.." ng-model="$parent.editLiterature"></div>
                </div>
              </md-tab-body>
            </md-tab>
            <md-tab>
              <md-tab-label>
                <i class="fa fa-flag"></i> Assignments
              </md-tab-label>
              <md-tab-body>
                <div ng-if="!editPage" style="margin-top:20px;" class="bordered-box">
                  <small ng-show="!weekplan.assignments">No assignments this week</small>
                  <div ng-bind-html="toTrusted(weekplan.assignments)"></div>
                </div>
                <div ng-if="editPage">
                  <div summernote style="padding:2px; border:2px dashed #e4e5e7;" config="options" contentEditable=true data-ph="Insert video information etc.." ng-model="$parent.editAssignments"></div>
                </div>
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-content>

<footer></footer>
