<md-toolbar class="md-theme-light" ng-controller="NavbarController" style="background-color:#27359A">
  <div class="md-toolbar-tools">
    <h2>
      <span>Course Planner</span>
    </h2>
    <md-button ui-sref="main">
      Home
    </md-button>
    <md-button ng-show="nav.isAdmin()" aria-label="Admin" ui-sref="admin">
      Admin
    </md-button>
    <span flex></span>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref="login" aria-label="Login">
      Login
    </md-button>
    <h5 ng-show="nav.isLoggedIn()" class="navbar-text">Hello {{ nav.getCurrentUser().name }}</h5>
    <md-button ng-show="nav.isLoggedIn()" class="md-fab md-mini" aria-label="Settings" ui-sref="settings">
      <i class="glyphicon glyphicon-cog"></i>
    </md-button>
    <md-button ng-show="nav.isLoggedIn()" aria-label="Logout" ui-sref="logout">
      Logout
    </md-button>

  </div>
</md-toolbar>
