.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  //opacity:0;
  left:-1200px;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  //opacity:1;
  left:0px;
}

.animate-new-course.ng-enter {
  transition:all linear 1.6s;
}

.animate-new-course.ng-enter,
.animate-new-course.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-new-course.ng-leave,
.animate-new-course.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-repeat-course {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat-course.ng-move,
.animate-repeat-course.ng-enter,
.animate-repeat-course.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat-course.ng-leave.ng-leave-active,
.animate-repeat-course.ng-move,
.animate-repeat-course.ng-enter {
  left:-1200px;
}

.animate-repeat-course.ng-leave,
.animate-repeat-course.ng-move.ng-move-active,
.animate-repeat-course.ng-enter.ng-enter-active {
  left:0px;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.md-whiteframe {
  margin: 30px;

}
.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 30px;
  height: 100px; }
@media screen and (max-width: 599px) {
  .whiteframedemoBasicUsage md-whiteframe {
    margin: 17px;
    height: 50px;
    background-color: #c8e4fa; }
  .whiteframedemoBasicUsage md-whiteframe > span {
    font-size: 0.4em; } }
@media screen and (min-width: 600px) and (max-width: 959px) {
  .whiteframedemoBasicUsage md-whiteframe {
    margin: 20px;
    height: 75px; }
  .whiteframedemoBasicUsage md-whiteframe > span {
    font-size: 0.6em; } }
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .whiteframedemoBasicUsage md-whiteframe {
    margin: 20px;
    height: 90px;
    background-color: #fcddde; }
  .whiteframedemoBasicUsage md-whiteframe > span {
    font-size: 0.9em; } }
@media screen and (min-width: 1200px) {
  .whiteframedemoBasicUsage md-whiteframe {
    margin: 25px;
    height: 100px;
    background-color: #F2FCE2; }
  .whiteframedemoBasicUsage md-whiteframe > span {
    font-size: 1.0em; } }
