<navbar></navbar>

<header class="hero-unit" id="banner" style="background:rgb(63,81,181)">
  <div class="container">
    <h1>Course Planner</h1>
    <p class="lead">Welcome to the Course Planner</p>
    <img src="assets/images/tech.jpg" alt="Technologi" style="width:15%;height:15%;">
  </div>
</header>

<md-content flex-offset="20" flex="60" class="animate-if" ng-if="!addCourse && !editCourse">
  <div ng-show="isAdmin()" flex="100">
    <md-button aria-label="Add New" ng-click="addSyllabus($event)" class="md-raised md-primary">
      <i class="fa fa-plus"></i> Add new Course
    </md-button>
  </div>

  <md-list>
    <md-list-item ng-repeat="syllabus in syllabuses" class="animate-repeat-course md-3-line" ng-click="goToCourse(syllabus)">
      <img ng-src="{{syllabus.iconurl}}?{{$index}}" class="md-avatar" />
      <div class="md-list-item-text" layout="column">
        <h3>{{ syllabus.title }}</h3>
        <h4>{{ syllabus.education }} {{ syllabus.year }}</h4>
        <p>{{ syllabus.academy }}, {{ syllabus.lecturer || syllabus.owner.name  }}</p>
      </div>
      <div pull-right style="text-align: right; align: top;">
        <md-button ng-if="isAdmin() && isOwner(syllabus)" style="margin-top:-15px;" class="md-secondary" aria-label="Delete syllabus" ng-click="deleteSyllabus(syllabus)">
          <div style="font-size:20px; color:darkred;">
            <i class="fa fa-trash"></i>
          </div>
        </md-button>
        <md-button ng-if="isAdmin() && isOwner(syllabus)" class="md-secondary" style="margin-top:20px;" aria-label="Edit syllabus" ng-click="editSyllabus(syllabus)">
          <div style="font-size:20px;">
            <i class="fa fa-pencil"></i>
          </div>
        </md-button>
      </div>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</md-content>

<md-content layout-padding flex-offset="20" flex="60" ng-if="addCourse || editCourse" class="animate-new-course">
  <form name="newCourseForm" novalidate>
    <md-input-container class="md-block">
      <label>Title</label>
      <input md-maxlength="30" required name="title" ng-model="newSyllabus.title">
      <div ng-messages="newCourseForm.title.$error" role="alert">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Academy</label>
      <input md-maxlength="30" required name="academy" ng-model="newSyllabus.academy">
      <div ng-messages="newCourseForm.academy.$error" role="alert">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Education</label>
      <input md-maxlength="30" required name="education" ng-model="newSyllabus.education">
      <div ng-messages="newCourseForm.education.$error" role="alert">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Lecturer (Leave Empty to use creator)</label>
      <input md-maxlength="30" name="lecturer" ng-model="newSyllabus.lecturer" >
      <div ng-messages="newCourseForm.lecturer.$error" role="alert">
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>
    <md-input-container flex="15" class="md-block">
      <label>year</label>
      <input required min="2000" max="2100" type="Number" name="year" ng-model="newSyllabus.year">
      <div ng-messages="newCourseForm.year.$error" role="alert">
        <div ng-message="required">Please specify a year.</div>
        <div ng-message="min"> Must be a year between 2000 and 2100 </div>
        <div ng-message="max"> Must be a year between 2000 and 2100</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <h6 style="margin-top:-10px">Objectives</h6>
      <div summernote style="padding:2px; border:2px dashed #e4e5e7;" config="options" contentEditable=true data-ph="Insert objectives" ng-model="newSyllabus.objectives"></div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Icon url</label>
      <input name="iconurl" ng-model="newSyllabus.iconurl">
    </md-input-container>
  </form>
  <div ng-show="isAdmin()" flex="100" style="text-align: right;" ng-if="addCourse">
    <md-button aria-label="Create course" ng-click="createSyllabus(newCourseForm)" class="md-raised md-primary">
      <i class="fa fa-plus"></i> Create Course
    </md-button>
    <md-button aria-label="Undo changes" ng-click="undoSyllabus($event)" class="md-raised md-warning">
      <i class="fa fa-undo"></i> Cancel
    </md-button>
  </div>
  <div ng-show="isAdmin()" flex="100" style="text-align: right;"  ng-if="editCourse">
    <md-button aria-label="Save changes" ng-click="saveSyllabus($event)" class="md-raised md-primary">
      <i class="fa fa-floppy-o"></i> Save changes
    </md-button>
    <md-button aria-label="Undo changes" ng-click="undoSyllabus($event)" class="md-raised md-warning">
      <i class="fa fa-undo"></i> Cancel
    </md-button>
  </div>
</md-content>

<footer></footer>
